Repository ccj-007/react-speed-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

init
  .lintstagedrc.json
  commitlint.config.js
  package.json
Due: prettier --write, eslint --fix

📝文档(typescript):
  .husky/pre-push
  README.md
Due: prettier --write

init
  .husky/pre-push
  .huskyrc
  README.md
  package.json
  src/components/Dropdown/__test__/__snapshots__/dropdown.test.tsx.snap
Due: prettier --write

init
  README.md
Due: prettier --write

init
  .huskyrc
Due: none

init
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

📝文档(leetcode):
  .husky/pre-commit
  .huskyrc
Due: none

Updates
  194.992cbbe2.iframe.bundle.js
  194.992cbbe2.iframe.bundle.js.LICENSE.txt
  236.cc3cd0f3.iframe.bundle.js
  409.827797fe3f3cc7144595.manager.bundle.js
  409.827797fe3f3cc7144595.manager.bundle.js.LICENSE.txt
  409.c923aa743e5fe4144d1a.manager.bundle.js
  iframe.html
  index.html
  main.e0f66ade.iframe.bundle.js
  main.f8418448.iframe.bundle.js
  project.json
  static/css/main.47d87dc2.css
  static/css/main.47d87dc2.css.map
  static/css/main.d9471b28.css
  static/css/main.d9471b28.css.map
Due: prettier --write, eslint --fix

📝文档(custom):
  .storybook/YourTheme.ts
  package.json
  src/components/Badge/Badge.tsx
  src/components/Badge/badge.stories.tsx
  src/styles/componentStyle/badge.scss
  src/styles/componentStyle/switch.scss
Due: prettier --write, eslint --fix

Updates
  409.435067cc5734c386476d.manager.bundle.js
  409.435067cc5734c386476d.manager.bundle.js.LICENSE.txt
  409.827797fe3f3cc7144595.manager.bundle.js
  iframe.html
  index.html
  main.959d5395.iframe.bundle.js
  main.e0f66ade.iframe.bundle.js
  project.json
  static/css/main.aeb22b2d.css
  static/css/main.aeb22b2d.css.map
  static/css/main.d9471b28.css
  static/css/main.d9471b28.css.map
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,vue,ts,jsx,tsx}) or (any of: *.{html,css,less,scss,md})
  eslint --fix: any of: *.{js,vue,ts,jsx,tsx}
